<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" >
   username: <input  type="text" name="UserName" id="UserName" /><br>
   passowrd: <input type="password" name="PassWord" id="PassWord"><br>
   repeat pwd:<input type="password" name="Repeat-pwd" id="Repeat-pwd"><br>
    <input type="submit" value="InSubmit">
    </form>
   </body>
</html>
